.speedDial {
    position: fixed;
    right: 3vmax;
    top: 11%;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  @media screen and (max-width: 600px) {
    .speedDial {
      position: fixed;
      left: 50%;
      top: 1%;
    }
  }